body {
  margin: 0;
  padding: 0;
}
#alert {
  color: red;
}
.game_outer {
  height: 77vh;
  width: 100vw;
  display: grid;
  place-content: center;
}
.game_inner {
  padding: 40px;
  background-color: beige;
  display: grid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.floor_input {
  width: 255px;
  height: 40px;
}
.lift-container {
  width: 100vw;
  /* background-color: ; */
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 100px;
}
.lift > div {
  background-color: black;
  width: 100%;
  height: 100%;
  transform: scaleX(0.01);
}
.lift {
  position: absolute;
  transition: bottom 3s linear;
  /* transform: scaleX(0.01); */
  border: 1px solid;
}
.floor {
  /* border-top: 1px solid; */
  border-bottom: 1px solid;
  display: flex;
}
.floor,
.lift {
  height: 100px;
  transition: all 3s linear;
}
#game_box {
  /* padding-bottom: 100px; */
  position: relative;
}
/* .leftSide {
} */

@keyframes liftLeft {
  0% {
    transform: scaleX(0.01);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.01);
  }
}
.animation > div {
  animation: liftLeft 3000ms;
  width: 100%;
}
.back_box {
  padding: 32px;
  display: flex;
  justify-content: center;
}
#back {
  padding: 4px 12px;
  border-radius: 5px;
}
